<img src="http://hauteliving.com/wp-content/uploads/2012/03/lc.jpg">

### This jupyter notebook aims to build a baseline model for restaurant visitor count forecast problem using Linear Regression(Ordinary Least Squares).

In [116]:
#Load train, test data to dataFrames
%matplotlib inline
import pandas as pd
import numpy as np
import re
import warnings
import numpy as np
import matplotlib.pyplot as plt 
import matplotlib.dates as dates
import seaborn as sns
plt.style.use('ggplot')
warnings.simplefilter("ignore")
df_train = pd.read_csv(".//Data//Train_data.csv")
df_test = pd.read_csv(".//Data//Test_data.csv")
df_date_info = pd.read_csv('.//Data//date_info.csv')

df_date_info.calendar_date = pd.to_datetime(df_date_info.calendar_date)
#change the index of df_date_info to calendar_date
df_date_info = df_date_info.set_index('calendar_date')
df_train['holiday_flg'] = df_train['visit_date'].apply(lambda x : df_date_info.loc[x]['holiday_flg'])
df_test['holiday_flg'] = df_test['visit_date'].apply(lambda x : df_date_info.loc[x]['holiday_flg'])

In [117]:
df_train.head(5)

,air_store_id,visit_date,visitors,dow,year,month,mean_visitors,max_visitors,min_visitors,median_visitors,air_genre_name,air_area_name,latitude,longitude,reserve_datetime_diff_x,reserve_visitors_x,reserve_datetime_diff_y,reserve_visitors_y,holiday_flg
0,air_ba937bf13d40fb24,2016-01-13,25,2,2016,1,23.843750,57.0,7.0,25.0,Dining bar,T?ky?-to Minato-ku Shibak?en,35.658068,139.751599,-1.0,-1.0,-1.0,-1.0,0
1,air_ba937bf13d40fb24,2016-01-14,32,3,2016,1,20.292308,54.0,2.0,21.0,Dining bar,T?ky?-to Minato-ku Shibak?en,35.658068,139.751599,-1.0,-1.0,-1.0,-1.0,0
2,air_ba937bf13d40fb24,2016-01-15,29,4,2016,1,34.738462,61.0,4.0,35.0,Dining bar,T?ky?-to Minato-ku Shibak?en,35.658068,139.751599,-1.0,-1.0,-1.0,-1.0,0
3,air_ba937bf13d40fb24,2016-01-16,22,5,2016,1,27.651515,53.0,6.0,27.0,Dining bar,T?ky?-to Minato-ku Shibak?en,35.658068,139.751599,-1.0,-1.0,-1.0,-1.0,0
4,air_ba937bf13d40fb24,2016-01-18,6,0,2016,1,13.754386,34.0,2.0,12.0,Dining bar,T?ky?-to Minato-ku Shibak?en,35.658068,139.751599,-1.0,-1.0,-1.0,-1.0,0

In [118]:
df_test.head(5)

,id,visitors,visit_date,air_store_id,dow,year,month,mean_visitors,max_visitors,min_visitors,median_visitors,air_genre_name,air_area_name,latitude,longitude,reserve_datetime_diff_x,reserve_visitors_x,reserve_datetime_diff_y,reserve_visitors_y,holiday_flg
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,6,2017,4,2.000000,2.0,2.0,2.0,Italian/French,T?ky?-to Chiyoda-ku Kudanminami,35.694003,139.753595,-1.0,-1.0,-1.0,-1.0,0
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,0,2017,4,22.457143,47.0,1.0,19.0,Italian/French,T?ky?-to Chiyoda-ku Kudanminami,35.694003,139.753595,-1.0,-1.0,-1.0,-1.0,0
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,1,2017,4,24.350000,43.0,1.0,24.5,Italian/French,T?ky?-to Chiyoda-ku Kudanminami,35.694003,139.753595,-1.0,-1.0,-1.0,-1.0,0
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,air_00a91d42b08b08d9,2,2017,4,28.125000,52.0,15.0,28.0,Italian/French,T?ky?-to Chiyoda-ku Kudanminami,35.694003,139.753595,-1.0,-1.0,-1.0,-1.0,0
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,air_00a91d42b08b08d9,3,2017,4,29.868421,47.0,15.0,30.0,Italian/French,T?ky?-to Chiyoda-ku Kudanminami,35.694003,139.753595,-1.0,-1.0,-1.0,-1.0,0

##### Change the columns to their respective types
#####   air_area_name =====> categorical type
#####   air_genre_name ===> categorical type

In [119]:
#Change latitude,longitude type to float type
df_train['air_genre_name'] = df_train['air_genre_name'].apply(lambda x : 'Other' if x == '-1' else x)
df_test['air_genre_name'] = df_test['air_genre_name'].apply(lambda x : 'Other' if x == '-1' else x)


df_train['latitude'] = df_train['latitude'].convert_objects(convert_numeric=True)
df_train['longitude'] = df_train['longitude'].convert_objects(convert_numeric=True)

df_test['latitude'] = df_test['latitude'].convert_objects(convert_numeric=True)
df_test['longitude'] = df_test['longitude'].convert_objects(convert_numeric=True)

#change the air_genre_name,air_store_id to categorical type
df_train['air_area_name'] = df_train['air_area_name'].astype('category')
df_train['air_genre_name'] = df_train['air_genre_name'].astype('category')

df_test['air_area_name'] = df_test['air_area_name'].astype('category')
df_test['air_genre_name'] = df_test['air_genre_name'].astype('category')

In [120]:
df_train['visit_date'] = pd.to_datetime(df_train['visit_date'])
df_test['visit_date'] = pd.to_datetime(df_test['visit_date'])

df_train['day'] = df_train['visit_date'].dt.day
df_test['day'] = df_test['visit_date'].dt.day

df_train['fri'] = (df_train['dow'] == 4)*1
df_train['sat'] = (df_train['dow'] == 5)*1
df_train['sun'] = (df_train['dow'] == 6)*1

df_test['fri'] = (df_test['dow'] == 4)*1
df_test['sat'] = (df_test['dow'] == 5)*1
df_test['sun'] = (df_test['dow'] == 6)*1

In [121]:
len(df_train['air_genre_name'].unique())

14

In [128]:
from sklearn.preprocessing import LabelEncoder
le_train = LabelEncoder()
le_train.fit(df_train['air_store_id'].values)

LabelEncoder()

In [129]:
df_train['air_store_id'] = le_train.transform(df_train['air_store_id'].values)
df_test['air_store_id'] = le_train.transform(df_test['air_store_id'].values)

In [130]:
df_train.head()

,air_store_id,visit_date,visitors,dow,year,month,mean_visitors,max_visitors,min_visitors,median_visitors,...,longitude,reserve_datetime_diff_x,reserve_visitors_x,reserve_datetime_diff_y,reserve_visitors_y,holiday_flg,day,fri,sat,sun
0,603,2016-01-13,25,2,2016,1,23.843750,57.0,7.0,25.0,...,139.751599,-1.0,-1.0,-1.0,-1.0,0,13,0,0,0
1,603,2016-01-14,32,3,2016,1,20.292308,54.0,2.0,21.0,...,139.751599,-1.0,-1.0,-1.0,-1.0,0,14,0,0,0
2,603,2016-01-15,29,4,2016,1,34.738462,61.0,4.0,35.0,...,139.751599,-1.0,-1.0,-1.0,-1.0,0,15,1,0,0
3,603,2016-01-16,22,5,2016,1,27.651515,53.0,6.0,27.0,...,139.751599,-1.0,-1.0,-1.0,-1.0,0,16,0,1,0
4,603,2016-01-18,6,0,2016,1,13.754386,34.0,2.0,12.0,...,139.751599,-1.0,-1.0,-1.0,-1.0,0,18,0,0,0

In [132]:
df_test.head()

,id,visitors,visit_date,air_store_id,dow,year,month,mean_visitors,max_visitors,min_visitors,...,longitude,reserve_datetime_diff_x,reserve_visitors_x,reserve_datetime_diff_y,reserve_visitors_y,holiday_flg,day,fri,sat,sun
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,0,6,2017,4,2.000000,2.0,2.0,...,139.753595,-1.0,-1.0,-1.0,-1.0,0,23,0,0,1
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,0,0,2017,4,22.457143,47.0,1.0,...,139.753595,-1.0,-1.0,-1.0,-1.0,0,24,0,0,0
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,0,1,2017,4,24.350000,43.0,1.0,...,139.753595,-1.0,-1.0,-1.0,-1.0,0,25,0,0,0
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,0,2,2017,4,28.125000,52.0,15.0,...,139.753595,-1.0,-1.0,-1.0,-1.0,0,26,0,0,0
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,0,3,2017,4,29.868421,47.0,15.0,...,139.753595,-1.0,-1.0,-1.0,-1.0,0,27,0,0,0

In [133]:
df_train_with_dummies = pd.get_dummies(df_train.drop('visit_date',axis=1))
df_train_with_dummies.head()

,air_store_id,visitors,dow,year,month,mean_visitors,max_visitors,min_visitors,median_visitors,latitude,...,air_area_name_T?ky?-to Suginami-ku Asagayaminami,air_area_name_T?ky?-to Tachikawa-shi Izumich?,air_area_name_T?ky?-to Tait?-ku Asakusa,air_area_name_T?ky?-to Tait?-ku Higashiueno,air_area_name_T?ky?-to Tait?-ku Kuramae,air_area_name_T?ky?-to Toshima-ku Higashiikebukuro,air_area_name_T?ky?-to Toshima-ku Mejiro,air_area_name_T?ky?-to Toshima-ku Minamiikebukuro,air_area_name_T?ky?-to Toshima-ku Nishiikebukuro,air_area_name_T?ky?-to Toshima-ku Sugamo
0,603,25,2,2016,1,23.843750,57.0,7.0,25.0,35.658068,...,0,0,0,0,0,0,0,0,0,0
1,603,32,3,2016,1,20.292308,54.0,2.0,21.0,35.658068,...,0,0,0,0,0,0,0,0,0,0
2,603,29,4,2016,1,34.738462,61.0,4.0,35.0,35.658068,...,0,0,0,0,0,0,0,0,0,0
3,603,22,5,2016,1,27.651515,53.0,6.0,27.0,35.658068,...,0,0,0,0,0,0,0,0,0,0
4,603,6,0,2016,1,13.754386,34.0,2.0,12.0,35.658068,...,0,0,0,0,0,0,0,0,0,0

In [134]:
df_test_with_dummies = pd.get_dummies(df_test.drop(['id','visit_date'],axis=1))
df_test_with_dummies.head()

,visitors,air_store_id,dow,year,month,mean_visitors,max_visitors,min_visitors,median_visitors,latitude,...,air_area_name_T?ky?-to Suginami-ku Asagayaminami,air_area_name_T?ky?-to Tachikawa-shi Izumich?,air_area_name_T?ky?-to Tait?-ku Asakusa,air_area_name_T?ky?-to Tait?-ku Higashiueno,air_area_name_T?ky?-to Tait?-ku Kuramae,air_area_name_T?ky?-to Toshima-ku Higashiikebukuro,air_area_name_T?ky?-to Toshima-ku Mejiro,air_area_name_T?ky?-to Toshima-ku Minamiikebukuro,air_area_name_T?ky?-to Toshima-ku Nishiikebukuro,air_area_name_T?ky?-to Toshima-ku Sugamo
0,0,0,6,2017,4,2.000000,2.0,2.0,2.0,35.694003,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,2017,4,22.457143,47.0,1.0,19.0,35.694003,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,2017,4,24.350000,43.0,1.0,24.5,35.694003,...,0,0,0,0,0,0,0,0,0,0
3,0,0,2,2017,4,28.125000,52.0,15.0,28.0,35.694003,...,0,0,0,0,0,0,0,0,0,0
4,0,0,3,2017,4,29.868421,47.0,15.0,30.0,35.694003,...,0,0,0,0,0,0,0,0,0,0

In [135]:
y = np.log1p(df_train_with_dummies['visitors']).values
X = df_train_with_dummies.drop(['visitors','air_area_name_-1'],axis=1).values

In [136]:
# Import regression modules
import pprint
import statsmodels.api as sm
from statsmodels.datasets.longley import load_pandas
from statsmodels.formula.api import ols
ols_model = sm.OLS(np.log1p(df_train_with_dummies['visitors']), df_train_with_dummies.drop(['visitors','air_area_name_-1'],axis=1))
ols_results = ols_model.fit()
pprint.pprint(ols_results.summary())

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               visitors   R-squared:                       0.536
Model:                            OLS   Adj. R-squared:                  0.536
Method:                 Least Squares   F-statistic:                     2155.
Date:                Mon, 05 Mar 2018   Prob (F-statistic):               0.00
Time:                        22:20:42   Log-Likelihood:            -2.0713e+05
No. Observations:              252108   AIC:                         4.145e+05
Df Residuals:                  251972   BIC:                         4.159e+05
Df Model:                         135
Covariance Type:            nonrobust
===============================================================================================================================
                                                                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------------------------
air_store_id                                                 2.173e-05   4.99e-06      4.355      0.000    1.19e-05    3.15e-05
dow                                                             0.0126      0.001      9.517      0.000       0.010       0.015
year                                                           -0.0584      0.003    -17.554      0.000      -0.065      -0.052
month                                                          -0.0039      0.000     -9.378      0.000      -0.005      -0.003
mean_visitors                                                   0.0372      0.001     47.595      0.000       0.036       0.039
max_visitors                                                   -0.0005   4.63e-05    -10.367      0.000      -0.001      -0.000
min_visitors                                                   -0.0041      0.000    -14.681      0.000      -0.005      -0.004
median_visitors                                                 0.0093      0.001     13.034      0.000       0.008       0.011
latitude                                                       11.7493      6.684      1.758      0.079      -1.352      24.850
longitude                                                     -21.2505      2.012    -10.562      0.000     -25.194     -17.307
reserve_datetime_diff_x                                        -0.0003   8.47e-06    -31.001      0.000      -0.000      -0.000
reserve_visitors_x                                              0.0110      0.000     58.694      0.000       0.011       0.011
reserve_datetime_diff_y                                        -0.0002      0.001     -0.305      0.760      -0.001       0.001
reserve_visitors_y                                              0.0132      0.001     12.740      0.000       0.011       0.015
holiday_flg                                                     0.1337      0.005     26.628      0.000       0.124       0.144
day                                                             0.0021      0.000     16.578      0.000       0.002       0.002
fri                                                            -0.0109      0.004     -2.439      0.015      -0.020      -0.002
sat                                                            -0.0377      0.006     -6.805      0.000      -0.049      -0.027
sun                                                            -0.0894      0.007    -13.083      0.000      -0.103      -0.076
air_genre_name_Asian                                          111.1115      8.713     12.753      0.000      94.035     128.188
air_genre_name_Bar/Cocktail                                   111.0343      8.713     12.744      0.000      93.958     128.111
air_genre_name_Cafe/Sweets                                    111.1669      8.713     12.759      0.000      94.090     128.244
air_genre_name_Creative cuisine                               111.1446      8.713     12.756      0.000      94.068     128.221
air_genre_name_Dining bar                                     111.0796      8.713     12.749      0.000      94.003     128.156
air_genre_name_International cuisine                          111.2914      8.713     12.773      0.000      94.214     128.369
air_genre_name_Italian/French                                 111.1058      8.713     12.752      0.000      94.029     128.182
air_genre_name_Izakaya                                        111.1300      8.713     12.755      0.000      94.053     128.207
air_genre_name_Japanese food                                  111.1366      8.713     12.756      0.000      94.060     128.213
air_genre_name_Karaoke/Party                                  110.9062      8.713     12.729      0.000      93.829     127.983
air_genre_name_Okonomiyaki/Monja/Teppanyaki                   111.1270      8.713     12.754      0.000      94.050     128.204
air_genre_name_Other                                          111.1841      8.713     12.761      0.000      94.107     128.261
air_genre_name_Western food                                   111.1118      8.713     12.753      0.000      94.035     128.189
air_genre_name_Yakiniku/Korean food                           111.1120      8.713     12.753      0.000      94.035     128.189
air_area_name_?saka-fu ?saka-shi ?gimachi                    2480.3476    218.274     11.363      0.000    2052.537    2908.159
air_area_name_?saka-fu ?saka-shi ?hiraki                     2479.6205    218.208     11.364      0.000    2051.939    2907.302
air_area_name_?saka-fu ?saka-shi Fuminosato                  2480.8851    218.160     11.372      0.000    2053.298    2908.472
air_area_name_?saka-fu ?saka-shi Ky?machibori                2480.1929    218.225     11.365      0.000    2052.479    2907.907
air_area_name_?saka-fu ?saka-shi Ky?tar?machi                2480.6986    218.229     11.367      0.000    2052.976    2908.421
air_area_name_?saka-fu ?saka-shi Nakanoch?                   2480.8915    218.286     11.365      0.000    2053.056    2908.727
air_area_name_?saka-fu ?saka-shi Nanbasennichimae            2480.8087    218.191     11.370      0.000    2053.161    2908.457
air_area_name_?saka-fu ?saka-shi Shinmachi                   2480.1339    218.193     11.367      0.000    2052.482    2907.786
air_area_name_?saka-fu Higashi?saka-shi Aramotokita          2482.5081    218.326     11.371      0.000    2054.594    2910.422
air_area_name_?saka-fu Neyagawa-shi Honmachi                 2481.8880    218.519     11.358      0.000    2053.597    2910.179
air_area_name_?saka-fu Sakai-shi Minamikawaramachi           2481.1811    217.998     11.382      0.000    2053.910    2908.452
air_area_name_?saka-fu Suita-shi Izumich?                    2480.0116    218.383     11.356      0.000    2051.987    2908.036
air_area_name_Fukuoka-ken Fukuoka-shi Daimy?                 2384.6992    210.513     11.328      0.000    1972.100    2797.298
air_area_name_Fukuoka-ken Fukuoka-shi Hakata Ekimae          2385.1626    210.541     11.329      0.000    1972.508    2797.817
air_area_name_Fukuoka-ken Fukuoka-shi Imaizumi               2384.9626    210.513     11.329      0.000    1972.364    2797.562
air_area_name_Fukuoka-ken Fukuoka-shi Momochi                2383.7029    210.450     11.327      0.000    1971.226    2796.179
air_area_name_Fukuoka-ken Fukuoka-shi Shiobaru               2385.6459    210.497     11.333      0.000    1973.078    2798.214
air_area_name_Fukuoka-ken Fukuoka-shi Takatori               2383.9947    210.450     11.328      0.000    1971.518    2796.472
air_area_name_Fukuoka-ken Fukuoka-shi Tenjin                 2384.9803    210.520     11.329      0.000    1972.367    2797.593
air_area_name_Fukuoka-ken Fukuoka-shi Torikai                2384.4100    210.462     11.329      0.000    1971.911    2796.909
air_area_name_Fukuoka-ken Itoshima-shi Maebarunishi          2380.7841    210.235     11.324      0.000    1968.729    2792.840
air_area_name_Fukuoka-ken Kitaky?sh?-shi ?temachi            2391.4332    211.601     11.302      0.000    1976.700    2806.166
air_area_name_Fukuoka-ken Kitaky?sh?-shi Konyamachi          2391.5932    211.611     11.302      0.000    1976.840    2806.346
air_area_name_Fukuoka-ken Kitaky?sh?-shi None                2389.3148    211.455     11.299      0.000    1974.868    2803.762
air_area_name_Fukuoka-ken Kurume-shi J?nanmachi              2390.1927    210.131     11.375      0.000    1978.341    2802.044
air_area_name_Fukuoka-ken Yame-shi Motomachi                 2392.6799    209.988     11.394      0.000    1981.109    2804.251
air_area_name_Hiroshima-ken Fukuyama-shi Higashisakuramachi  2437.1964    215.492     11.310      0.000    2014.838    2859.554
air_area_name_Hiroshima-ken Hiroshima-shi Kokutaijimachi     2419.1326    214.309     11.288      0.000    1999.092    2839.173
air_area_name_Hiroshima-ken Hiroshima-shi Nagarekawach?      2419.1934    214.324     11.288      0.000    1999.125    2839.262
air_area_name_Hokkaid? Abashiri-shi Minami 6 J?higashi       2557.1751    249.536     10.248      0.000    2068.092    3046.258
air_area_name_Hokkaid? Asahikawa-shi 6 J?d?ri                2519.3778    247.290     10.188      0.000    2034.696    3004.060
air_area_name_Hokkaid? Kat?-gun Motomachi                    2546.0219    245.644     10.365      0.000    2064.566    3027.477
air_area_name_Hokkaid? Sapporo-shi Atsubetsuch?? 1 J?        2509.2711    244.379     10.268      0.000    2030.295    2988.247
air_area_name_Hokkaid? Sapporo-shi Kita 24 J?nishi           2505.8196    244.435     10.251      0.000    2026.733    2984.906
air_area_name_Hokkaid? Sapporo-shi Kotoni 2 J?               2505.0050    244.355     10.252      0.000    2026.076    2983.934
air_area_name_Hokkaid? Sapporo-shi Minami 3 J?nishi          2506.1377    244.331     10.257      0.000    2027.256    2985.019
air_area_name_Hy?go-ken Amagasaki-shi Higashinanamatsuch?    2477.9085    218.212     11.355      0.000    2050.218    2905.599
air_area_name_Hy?go-ken Himeji-shi Yasuda                    2461.5232    217.574     11.313      0.000    2035.083    2887.963
air_area_name_Hy?go-ken K?be-shi Kumoid?ri                   2473.8477    217.909     11.353      0.000    2046.752    2900.943
air_area_name_Hy?go-ken K?be-shi Motomachid?ri               2473.8145    217.884     11.354      0.000    2046.767    2900.862
air_area_name_Hy?go-ken K?be-shi Sumiyoshi Higashimachi      2475.0040    218.031     11.352      0.000    2047.669    2902.339
air_area_name_Hy?go-ken Kakogawa-shi Kakogawach? Kitazaike   2465.4788    217.633     11.329      0.000    2038.923    2892.034
air_area_name_Hy?go-ken Nishinomiya-shi Rokutanjich?         2476.3906    218.148     11.352      0.000    2048.826    2903.955
air_area_name_Hy?go-ken Takarazuka-shi T?y?ch?               2476.2062    218.286     11.344      0.000    2048.371    2904.041
air_area_name_Miyagi-ken Sendai-shi Kamisugi                 2552.4032    231.307     11.035      0.000    2099.047    3005.759
air_area_name_Niigata-ken Kashiwazaki-shi Ch??ch?            2513.9483    226.965     11.076      0.000    2069.103    2958.794
air_area_name_Niigata-ken Nagaoka-shi ?ted?ri                2519.0093    227.427     11.076      0.000    2073.259    2964.760
air_area_name_Niigata-ken Niigata-shi Gakk?ch?d?ri 1 Banch?  2517.5024    228.668     11.009      0.000    2069.319    2965.686
air_area_name_Niigata-ken Niigata-shi Teraohigashi           2516.5857    228.508     11.013      0.000    2068.716    2964.455
air_area_name_Shizuoka-ken Hamamatsu-shi Motoshiroch?        2527.2847    220.773     11.447      0.000    2094.575    2959.994
air_area_name_Shizuoka-ken Numazu-shi Miyukich?              2546.9814    222.747     11.434      0.000    2110.404    2983.559
air_area_name_Shizuoka-ken Shizuoka-shi ?temachi             2538.2072    221.988     11.434      0.000    2103.117    2973.297
air_area_name_T?ky?-to ?ta-ku Kamata                         2559.7420    224.547     11.400      0.000    2119.635    2999.849
air_area_name_T?ky?-to ?ta-ku Kamiikedai                     2558.8076    224.602     11.393      0.000    2118.594    2999.021
air_area_name_T?ky?-to Adachi-ku Ch??honch?                  2559.0576    225.042     11.371      0.000    2117.982    3000.134
air_area_name_T?ky?-to Bunky?-ku Kasuga                      2558.6879    224.858     11.379      0.000    2117.972    2999.404
air_area_name_T?ky?-to Bunky?-ku Sendagi                     2558.5694    224.899     11.377      0.000    2117.773    2999.366
air_area_name_T?ky?-to Ch??-ku Ginza                         2559.5158    224.812     11.385      0.000    2118.890    3000.142
air_area_name_T?ky?-to Ch??-ku Tsukiji                       2559.6046    224.811     11.386      0.000    2118.982    3000.228
air_area_name_T?ky?-to Chiyoda-ku Kanda Jinb?ch?             2558.8876    224.843     11.381      0.000    2118.201    2999.574
air_area_name_T?ky?-to Chiyoda-ku Kudanminami                2558.8723    224.833     11.381      0.000    2118.205    2999.540
air_area_name_T?ky?-to Edogawa-ku Ch??                       2561.1308    224.985     11.384      0.000    2120.167    3002.095
air_area_name_T?ky?-to Fuch?-shi Miyanishich?                2553.4867    224.480     11.375      0.000    2113.513    2993.461
air_area_name_T?ky?-to Itabashi-ku Itabashi                  2557.2027    224.890     11.371      0.000    2116.424    2997.982
air_area_name_T?ky?-to K?t?-ku Kameido                       2560.3882    224.925     11.383      0.000    2119.541    3001.235
air_area_name_T?ky?-to K?t?-ku T?y?                          2560.6068    224.866     11.387      0.000    2119.876    3001.338
air_area_name_T?ky?-to K?t?-ku Tomioka                       2560.1367    224.840     11.386      0.000    2119.457    3000.817
air_area_name_T?ky?-to Katsushika-ku Tateishi                2560.3706    225.030     11.378      0.000    2119.319    3001.423
air_area_name_T?ky?-to Kita-ku ?jihonch?                     2557.9256    224.920     11.373      0.000    2117.087    2998.764
air_area_name_T?ky?-to Koganei-shi Honch?                    2553.6591    224.565     11.372      0.000    2113.518    2993.800
air_area_name_T?ky?-to Machida-shi Morino                    2553.8296    224.210     11.390      0.000    2114.384    2993.275
air_area_name_T?ky?-to Meguro-ku Jiy?gaoka                   2558.1650    224.583     11.391      0.000    2117.988    2998.342
air_area_name_T?ky?-to Meguro-ku Kamimeguro                  2558.3294    224.675     11.387      0.000    2117.973    2998.686
air_area_name_T?ky?-to Meguro-ku Takaban                     2558.2066    224.638     11.388      0.000    2117.922    2998.491
air_area_name_T?ky?-to Minato-ku Akasaka                     2558.8326    224.779     11.384      0.000    2118.271    2999.394
air_area_name_T?ky?-to Minato-ku Roppongi                    2558.6093    224.751     11.384      0.000    2118.103    2999.116
air_area_name_T?ky?-to Minato-ku Shibak?en                   2559.2718    224.765     11.386      0.000    2118.739    2999.805
air_area_name_T?ky?-to Musashino-shi Kichij?ji Honch?        2554.9764    224.655     11.373      0.000    2114.658    2995.295
air_area_name_T?ky?-to Musashino-shi Midorich?               2554.6233    224.669     11.371      0.000    2114.278    2994.968
air_area_name_T?ky?-to Nakano-ku Nakano                      2556.8861    224.760     11.376      0.000    2116.362    2997.410
air_area_name_T?ky?-to Nerima-ku Toyotamakita                2556.1589    224.797     11.371      0.000    2115.562    2996.755
air_area_name_T?ky?-to Setagaya-ku Kitazawa                  2556.9215    224.680     11.380      0.000    2116.554    2997.289
air_area_name_T?ky?-to Setagaya-ku Okusawa                   2558.3087    224.573     11.392      0.000    2118.151    2998.466
air_area_name_T?ky?-to Setagaya-ku Sangenjaya                2557.8633    224.646     11.386      0.000    2117.563    2998.163
air_area_name_T?ky?-to Setagaya-ku Setagaya                  2557.3258    224.633     11.384      0.000    2117.052    2997.600
air_area_name_T?ky?-to Shibuya-ku D?genzaka                  2558.1083    224.706     11.384      0.000    2117.691    2998.526
air_area_name_T?ky?-to Shibuya-ku Higashi                    2558.2467    224.711     11.385      0.000    2117.820    2998.673
air_area_name_T?ky?-to Shibuya-ku Jing?mae                   2558.2018    224.736     11.383      0.000    2117.725    2998.679
air_area_name_T?ky?-to Shibuya-ku Shibuya                    2558.2370    224.719     11.384      0.000    2117.794    2998.680
air_area_name_T?ky?-to Shinagawa-ku Higashigotanda           2558.9897    224.678     11.390      0.000    2118.627    2999.353
air_area_name_T?ky?-to Shinagawa-ku Hiromachi                2559.4437    224.651     11.393      0.000    2119.134    2999.754
air_area_name_T?ky?-to Shinjuku-ku Kabukich?                 2557.8013    224.777     11.379      0.000    2117.244    2998.359
air_area_name_T?ky?-to Shinjuku-ku Nishishinjuku             2557.4082    224.754     11.379      0.000    2116.896    2997.920
air_area_name_T?ky?-to Suginami-ku Asagayaminami             2556.3735    224.713     11.376      0.000    2115.942    2996.806
air_area_name_T?ky?-to Tachikawa-shi Izumich?                2551.3954    224.486     11.366      0.000    2111.409    2991.382
air_area_name_T?ky?-to Tait?-ku Asakusa                      2559.5725    224.915     11.380      0.000    2118.746    3000.399
air_area_name_T?ky?-to Tait?-ku Higashiueno                  2559.2785    224.897     11.380      0.000    2118.486    3000.071
air_area_name_T?ky?-to Tait?-ku Kuramae                      2559.7678    224.895     11.382      0.000    2118.979    3000.556
air_area_name_T?ky?-to Toshima-ku Higashiikebukuro           2557.9372    224.859     11.376      0.000    2117.219    2998.656
air_area_name_T?ky?-to Toshima-ku Mejiro                     2557.2984    224.828     11.374      0.000    2116.643    2997.954
air_area_name_T?ky?-to Toshima-ku Minamiikebukuro            2557.8266    224.851     11.376      0.000    2117.125    2998.528
air_area_name_T?ky?-to Toshima-ku Nishiikebukuro             2557.6383    224.856     11.375      0.000    2116.926    2998.350
air_area_name_T?ky?-to Toshima-ku Sugamo                     2557.9537    224.890     11.374      0.000    2117.176    2998.732
==============================================================================
Omnibus:                    29220.680   Durbin-Watson:                   1.622
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            56977.450
Skew:                          -0.752   Prob(JB):                         0.00
Kurtosis:                       4.778   Cond. No.                     4.26e+09
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.26e+09. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [137]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import  scale
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [138]:
y_pred = lm.predict(X_test)
from sklearn.metrics import mean_squared_error
#squared_error = ((y_pred + 1) - (y_test + 1)) ** 2
#rmsle = np.sqrt( np.sum(squared_error) / len(y_pred) )
rmse = np.sqrt(mean_squared_error(y_pred,y_test))
print("RMSE",rmse)
print(max(y_pred))
#print(y_pred)

RMSE 0.550315961322
9.14017796168

In [139]:
print("Training Accuracy : ",lm.score(X_train,y_train))
print("Test Accuracy : ",lm.score(X_test,y_test))

Training Accuracy :  0.534997281519
Test Accuracy :  0.537111657464

In [140]:
df_test_with_dummies.head()

,visitors,air_store_id,dow,year,month,mean_visitors,max_visitors,min_visitors,median_visitors,latitude,...,air_area_name_T?ky?-to Suginami-ku Asagayaminami,air_area_name_T?ky?-to Tachikawa-shi Izumich?,air_area_name_T?ky?-to Tait?-ku Asakusa,air_area_name_T?ky?-to Tait?-ku Higashiueno,air_area_name_T?ky?-to Tait?-ku Kuramae,air_area_name_T?ky?-to Toshima-ku Higashiikebukuro,air_area_name_T?ky?-to Toshima-ku Mejiro,air_area_name_T?ky?-to Toshima-ku Minamiikebukuro,air_area_name_T?ky?-to Toshima-ku Nishiikebukuro,air_area_name_T?ky?-to Toshima-ku Sugamo
0,0,0,6,2017,4,2.000000,2.0,2.0,2.0,35.694003,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,2017,4,22.457143,47.0,1.0,19.0,35.694003,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,2017,4,24.350000,43.0,1.0,24.5,35.694003,...,0,0,0,0,0,0,0,0,0,0
3,0,0,2,2017,4,28.125000,52.0,15.0,28.0,35.694003,...,0,0,0,0,0,0,0,0,0,0
4,0,0,3,2017,4,29.868421,47.0,15.0,30.0,35.694003,...,0,0,0,0,0,0,0,0,0,0

In [141]:
df_train_with_dummies.head()

,air_store_id,visitors,dow,year,month,mean_visitors,max_visitors,min_visitors,median_visitors,latitude,...,air_area_name_T?ky?-to Suginami-ku Asagayaminami,air_area_name_T?ky?-to Tachikawa-shi Izumich?,air_area_name_T?ky?-to Tait?-ku Asakusa,air_area_name_T?ky?-to Tait?-ku Higashiueno,air_area_name_T?ky?-to Tait?-ku Kuramae,air_area_name_T?ky?-to Toshima-ku Higashiikebukuro,air_area_name_T?ky?-to Toshima-ku Mejiro,air_area_name_T?ky?-to Toshima-ku Minamiikebukuro,air_area_name_T?ky?-to Toshima-ku Nishiikebukuro,air_area_name_T?ky?-to Toshima-ku Sugamo
0,603,25,2,2016,1,23.843750,57.0,7.0,25.0,35.658068,...,0,0,0,0,0,0,0,0,0,0
1,603,32,3,2016,1,20.292308,54.0,2.0,21.0,35.658068,...,0,0,0,0,0,0,0,0,0,0
2,603,29,4,2016,1,34.738462,61.0,4.0,35.0,35.658068,...,0,0,0,0,0,0,0,0,0,0
3,603,22,5,2016,1,27.651515,53.0,6.0,27.0,35.658068,...,0,0,0,0,0,0,0,0,0,0
4,603,6,0,2016,1,13.754386,34.0,2.0,12.0,35.658068,...,0,0,0,0,0,0,0,0,0,0

In [142]:
X_test.shape

(75633, 136)

In [146]:
df_test_with_dummies.shape

(32019, 137)

In [149]:
#df_test_with_dummies['air_genre_name_-1'] = 0
y_final_pred = lm.predict(df_test_with_dummies.drop(['visitors'],axis=1).values)

In [150]:
y_final_pred

array([ 1.84583384,  2.75780872,  2.89599467, ...,  1.96385806,
        1.99222627,  2.01070391])

In [151]:
df_test['visitors'] = np.expm1(y_final_pred)
df_test['air_store_id'] = le_train.inverse_transform(df_test['air_store_id'].values)

In [153]:
df_test['visitors'] = df_test['visitors'].clip_lower(0.)

In [158]:
df_test[['id','visitors']]

                                    id   visitors
0      air_00a91d42b08b08d9_2017-04-23   5.333379
1      air_00a91d42b08b08d9_2017-04-24  14.765259
2      air_00a91d42b08b08d9_2017-04-25  17.101497
3      air_00a91d42b08b08d9_2017-04-26  19.655015
4      air_00a91d42b08b08d9_2017-04-27  21.835756
5      air_00a91d42b08b08d9_2017-04-28  29.431629
6      air_00a91d42b08b08d9_2017-04-29  11.767954
7      air_00a91d42b08b08d9_2017-04-30   5.433662
8      air_00a91d42b08b08d9_2017-05-01  13.918477
9      air_00a91d42b08b08d9_2017-05-02  16.129232
10     air_00a91d42b08b08d9_2017-05-03  21.386406
11     air_00a91d42b08b08d9_2017-05-04  23.749947
12     air_00a91d42b08b08d9_2017-05-05  31.982538
13     air_00a91d42b08b08d9_2017-05-06   9.548950
14     air_00a91d42b08b08d9_2017-05-07   5.088098
15     air_00a91d42b08b08d9_2017-05-08  14.154699
16     air_00a91d42b08b08d9_2017-05-09  16.400459
17     air_00a91d42b08b08d9_2017-05-10  18.855083
18     air_00a91d42b08b08d9_2017-05-11  20.951368
19     air_00a91d42b08b08d9_2017-05-12  28.253066
20     air_00a91d42b08b08d9_2017-05-13   9.715983
21     air_00a91d42b08b08d9_2017-05-14   5.184498
22     air_00a91d42b08b08d9_2017-05-15  14.394661
23     air_00a91d42b08b08d9_2017-05-16  16.675981
24     air_00a91d42b08b08d9_2017-05-17  19.169471
25     air_00a91d42b08b08d9_2017-05-18  21.298950
26     air_00a91d42b08b08d9_2017-05-19  28.716264
27     air_00a91d42b08b08d9_2017-05-20   9.885662
28     air_00a91d42b08b08d9_2017-05-21   5.282424
29     air_00a91d42b08b08d9_2017-05-22  14.638422
...                                ...        ...
31989  air_fff68b929994bfbd_2017-05-02   5.885280
31990  air_fff68b929994bfbd_2017-05-03   7.033076
31991  air_fff68b929994bfbd_2017-05-04   7.176119
31992  air_fff68b929994bfbd_2017-05-05   7.539904
31993  air_fff68b929994bfbd_2017-05-06   6.997553
31994  air_fff68b929994bfbd_2017-05-07   5.639050
31995  air_fff68b929994bfbd_2017-05-08   5.798675
31996  air_fff68b929994bfbd_2017-05-09   5.994303
31997  air_fff68b929994bfbd_2017-05-10   6.124743
31998  air_fff68b929994bfbd_2017-05-11   6.251611
31999  air_fff68b929994bfbd_2017-05-12   6.574262
32000  air_fff68b929994bfbd_2017-05-13   7.124187
32001  air_fff68b929994bfbd_2017-05-14   5.744174
32002  air_fff68b929994bfbd_2017-05-15   5.906326
32003  air_fff68b929994bfbd_2017-05-16   6.105052
32004  air_fff68b929994bfbd_2017-05-17   6.237557
32005  air_fff68b929994bfbd_2017-05-18   6.366434
32006  air_fff68b929994bfbd_2017-05-19   6.694194
32007  air_fff68b929994bfbd_2017-05-20   7.252827
32008  air_fff68b929994bfbd_2017-05-21   5.850963
32009  air_fff68b929994bfbd_2017-05-22   6.015682
32010  air_fff68b929994bfbd_2017-05-23   6.217554
32011  air_fff68b929994bfbd_2017-05-24   6.352157
32012  air_fff68b929994bfbd_2017-05-25   6.483076
32013  air_fff68b929994bfbd_2017-05-26   6.816025
32014  air_fff68b929994bfbd_2017-05-27   7.383503
32015  air_fff68b929994bfbd_2017-05-28   5.959442
32016  air_fff68b929994bfbd_2017-05-29   6.126770
32017  air_fff68b929994bfbd_2017-05-30   6.331838
32018  air_fff68b929994bfbd_2017-05-31   6.468573

[32019 rows x 2 columns]

In [160]:
df_test[['id','visitors']].to_csv('BaseLine_1.csv',index=False)

#### Baseline model score in Kaggle : 0.568