In [122]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [123]:
#load and open json file
df = pd.read_json('world_bank_projects.json')

In [124]:
df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

QUESTION 1 : GET Top 10 Countries with most projects

In [125]:
Project_count_for_country={}
for row,lab in df.iterrows():
    if lab['countryname'] in Project_count_for_country.keys():
        Project_count_for_country[lab['countryname']] += 1
    else:
        Project_count_for_country[lab['countryname']] = 1
sorted_countries=sorted(Project_count_for_country.items(), key=lambda x: x[1],reverse=True)[0:10]
print("THE TOP 10 Countries with most projects are : ")
for i in sorted_countries:
    print("{0}:{1}".format(i[0],i[1]))

THE TOP 10 Countries with most projects are :
People's Republic of China:19
Republic of Indonesia:19
Socialist Republic of Vietnam:17
Republic of India:16
Republic of Yemen:13
Kingdom of Morocco:12
Nepal:12
People's Republic of Bangladesh:12
Republic of Mozambique:11
Africa:11

QUESTION 2: Find the top 10 major project themes (using column 'mjtheme_namecode')

In [126]:
#Method 1 . Doing in conventional dictionaries
Project_themes_count={}
themes=df['mjtheme_namecode']
for i in range(len(themes)):
    for j in themes[i]:
        if (j['name'] in Project_themes_count) : 
            Project_themes_count[j['name']] += 1
        else:
            Project_themes_count[j['name']] = 1

In [127]:
sorted_major_themes=sorted(Project_themes_count.items(), key=lambda x: x[1],reverse=True)[0:10]
print("THE TOP 10 project themese are : ")
for i in sorted_major_themes:
    print("{0}:{1} ".format(i[0],i[1]))

THE TOP 10 project themese are :
Environment and natural resources management:223
Rural development:202
Human development:197
Public sector governance:184
Social protection and risk management:158
Financial and private sector development:130
:122
Social dev/gender/inclusion:119
Trade and integration:72
Urban development:47

In [128]:
json_normalize(themes[0])

  code               name
0    8  Human development
1   11

QUESTION 2 : Find the top 10 major project themes (using column 'mjtheme_namecode')

Method 2 using json & pandas, json_normalize libraries

In [152]:
#method 2 using json & pandas, json_normalize libraries
from pandas.io.json import json_normalize
import pandas as pd
major_themes = pd.DataFrame(columns=['code','name'])
for row in df.mjtheme_namecode:
    #print(row)
    major_themes=major_themes.append(json_normalize(row))
major_themes.reset_index(drop=True, inplace=True)
major_themes.head()
print("THE TOP 10 Countries with most projects are : ")
major_themes.name.value_counts().head(10)

THE TOP 10 Countries with most projects are :

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

QUESTION 3 : In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [148]:
code_to_name_dict={}
for lab,row in major_themes.iterrows():
    if row['name'] != '':
        code_to_name_dict[row['code']] = row['name']

In [150]:
code_to_name_dict

{'1': 'Economic management',
 '10': 'Rural development',
 '11': 'Environment and natural resources management',
 '2': 'Public sector governance',
 '3': 'Rule of law',
 '4': 'Financial and private sector development',
 '5': 'Trade and integration',
 '6': 'Social protection and risk management',
 '7': 'Social dev/gender/inclusion',
 '8': 'Human development',
 '9': 'Urban development'}

In [160]:
for lab,row in major_themes.iterrows():
    if row['name'] == '':
        row['name'] = code_to_name_dict[row['code']]
print("NEW DATAFRAME WITH missing values filled in")
major_themes.name.value_counts().head(10)

NEW DATAFRAME WITH missing values filled in

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64